<!DOCTYPE html>
<html lang="en">
<head>
    {{>head_links}}
</head>
<body>
    {{>navigation}}
    <!-- This is the content of the about page -->
    <div class="content">
        <div class="aboutt">
            <h1 id="title-about">About:</h1>
        <h4><b>Made by:</b> Abhirup Guha Roy</h4>
        <h4><b>Purpose:</b> Practise</h4>
        <h4><b>time taken:</b> 2 days(both learning and making)</h4>
        <h4>Making this project was a fun<i class="fa-regular fa-face-smile"></i></h4>
        </div>
    </div>
    {{>footer}}
</body>
</html>