<!DOCTYPE html>
<html lang="en">
<head>
    {{>head_links}}
</head>
<body>
    <!-- This wil be the header part -->
    {{>navigation}}
    <!-- This is the content of the check page(The main fun begins here) -->
    <div class="content">
        <!-- This is the search box part -->
        <img src="../images/checkBackground.jpg" alt="background" id="background">
        <div id="user-input">
            <input type="text" placeholder="Enter city name" id="input">
            <button id="submit"><i class="fa-solid fa-magnifying-glass" style="color: #cfcece;"></i></button>        
        </div>
        <!-- This is the weather report part -->
        <div id="report">
            <!-- This is the place info -->
            <h1 id="place"><i class="fa-solid fa-person" style="color: #dde0e4;" id="standing"></i><span id="city"></span>,<span id="country"></span></h1><br> 
            <!-- Place location in longitude and latitude -->
            <h4 class="location">Lon:<span id="longitude"></span>Lat:<span id="latitude"></span></h4>
            <!-- weather icon info -->
            <span id="representation"><img src="" alt="cloud view" id="cloud"></span>
            <!-- wther info in words -->
            <h3 id="wtype"></h3>
            <!-- temp info -->
            <p id="temp" style="color: white;"><span id="t"></span><sup>O</sup>C</p>
            <!-- range of temp info -->
            <div class="range">
                <span><p id="minTemp">Min Temp:<span id="mint"></span><sup>O</sup>C</p></span>
                <span><p id="maxTemp">Max Temp:<span id="maxt"></span><sup>O</sup>C</p></span>
            </div>
            <!-- wind speed info -->
            <h5>Wind Speed: <span id="windSpeed"></span>m/s</h5>
            <!-- time zone shift info -->
            <h5>Time Zone: <span id="timeZone"></span>s (Shift from UTC)</h5>
        </div>
        <!-- This is the error part -->
        <div id="error">
            <h1 id="errorHead">Error</h1>
            <p id="errorMessage"></p>
        </div>
    </div>
    <script src="../../script/api.js"></script>
    <!-- This will be the footer part -->
    {{>footer}}
</body>
</html>