@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@600&family=Space+Grotesk:wght@700&display=swap');#background{
    height: 100%;
    width: 100%;
    filter: blur(4px);
}

/* This is the search part style */
#user-input{
    position:absolute;
    height:6vh;
    left: 17vw;
    width:calc(100% - 34vw);
    top: 2vh;
    justify-content: center;
    display: flex;
    justify-content:center;
}
#input{
    position: relative;
    height:100%;
    background-color: rgb(211, 203, 203);
    /* border: solid 1px;
    border-radius: 18px; */
    width: 0%;    
    padding: 0%;
    transition:all 0.3s linear;
}
#submit{
    background-color: rgb(15, 44, 81);
    height:100%;
    width:11%;
    border: solid 1px;
    border-radius: 50%;    
    position: relative;
}
#user-input:hover > #input{
    width: 100%;
    border: solid 1px;
    border-radius: 18px;
    padding-left: 2vw;
    box-shadow: 0 0 2px white;
}
::placeholder{
    color: rgb(121, 124, 126);
    font-family: 'Caveat', cursive;
    font-size: 4vh;
}

/* This will be the info part */
#report{
    position: absolute;
    display: flex;
    height: 10vh;
    width: 10vh;
    top: 12vh;
    height:67.5vh;
    width:100%;
    flex-direction:column;
    align-items: center;
    font-family: 'Mooli', sans-serif;
    color: white;
    visibility: hidden;
}
#place{
    font-size: 8vh;
    text-shadow: 0 0 2px black, 0 0 4px black, 0 0 5px black;
}
.range{
    display: flex;
    height: 4vh;
    width: 20vw;    
    justify-content: center;
    overflow: hidden;
}
#longitude{
    padding-right: 2vw;
}
#temp{
    font-size: 7vh;
    text-shadow: 0 0 2px black, 0 0 4px black, 0 0 5px black;  
}
.range{
    text-shadow: 0 0 2px black, 0 0 4px black;
    margin-bottom: 2vh;
}

#minTemp{
    padding-right: 2vw;
}
#cloud{
    filter: drop-shadow(0 0 2px white);
    filter: drop-shadow(0 0 2px white);
}

/* This is the error style part */
#error{
    height: 35vh;
    width:30vw;
    position: absolute;
    top: 20vh;
    left: 15vw;    
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 7vh;
    color: white;
    text-shadow: 0 0 2px red, 0 0 3px red;
    text-align: center;
    visibility: hidden;
}
#errorHead{
    font-size: 9vh;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    text-shadow: 0 0 2px black, 0 0 4px black, 0 0 6px black;
}
#wtype{
    text-transform: capitalize;
}
