<!-- This will be the footer part -->
<div class="footer">
        <footer class="foot">
            <p>Made with <i class="fa-solid fa-heart" style="color: #ffffff;"></i>|By Abhirup Guha Roy|</p>
            <p>Use our website and plan your vacations.<i class="fa-regular fa-face-smile"></i></p>
        </footer>
    </div>