<!-- This wil be the header part -->
    <div class="navigation">
       <nav>
        <li id="name">Climi</li>
        <li class="about disabled"><a href="/about" id="no3">About</a><span class="tooltikk" id="ttext3">About page</span></li>
        <li class="check disabled"><a href="/check" id="no2">Check</a><span class="tooltikk" id="ttext2">Check weather</span></li>
        <li class="home disabled"><a href="/" id="no1">Home</a><span class="tooltikk" id="ttext1">Home page</span></li>
       </nav> 
    </div>